body {
    padding-bottom: 50px; /* Ensure there's padding at the bottom of the page */
}




h1 {
font-size: 90px;
display: flex;
justify-content: center;



}


.navs {
display: flex;
flex-direction: row;
justify-content: space-evenly;


}
.box1 {
position: relative;
width: 300px;
height: 100px;
top: 20px;
background-color: rgb(32, 97, 201);
border-radius: 20px;



}


.box2 {
position: relative;
width: 300px;
height: 100px;
top: 20px;
background-color: rgb(32, 97, 201);
border-radius: 20px;



}

.box3{
position: relative;
width: 300px;
height: 100px;
top: 20px;
background-color: rgb(32, 97, 201);
border-radius: 20px;



}

.box1 a {
font-size: 50px;
color: rgb(255, 255, 255);
text-decoration: none;
display: flex;
justify-content: center;



}

.box2 a {
font-size: 50px;
color: rgb(255, 255, 255);
text-decoration: none;
display: flex;
justify-content: center;


    
    }

.box3 a {
font-size: 50px;
color: rgb(255, 255, 255);
text-decoration: none;
display: flex;
justify-content: center;

}

h2 {
display: flex;
flex-direction: row;
justify-content: center;
position: relative;
top: 200px;



}

.card {
position: relative;
left: 350px;
background-color: rgb(217, 217, 217);
border-radius: 30px;
top: 30px;
}

.btn {
position: relative;
left: 274px;
top: 360px;
background-color: rgb(32, 97, 201);
}

.card-title {
display: flex;
justify-content: center;
}








